{{ partial "header.html" . }}

<header class="frontpage">
  <h1>Hop Orchestration Platform</h1>
  <p>The Hop Orchestration Platform aims to facilitate all aspects of data and metadata orchestration.</p>
  <table style="text-align: left; margin-top: 2em;">
    <tr><th>Quick Links</th></tr>
    <tr><td><a href="https://github.com/project-hop/hop/">Source code</a> (github)</td></tr>
    <tr><td><a href="https://project-hop.atlassian.net">JIRA</a></td></tr>
    <tr><td><a href="https://forums.project-hop.org/">Forums</a></td></tr>
    <tr><td><a href="http://www.project-hop.org/community/contributing/">Contribution Guide</a></td></tr>
    <tr><td><a class="significant" href="./docs/getting-started/">Get started</a></td></tr>
  </table>

</header>

{{ .Content }}

{{ partial "footer.html" . }}
