<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article">
    <div id="cookies-eu-banner" style="display: none;">
        By continuing to visit this site, you accept the use of cookies.
        <a href="/cookie-info/" id="cookies-eu-more">Read more</a>
        <button id="cookies-eu-reject">Reject</button>
        <button id="cookies-eu-accept">Accept</button>
    </div>
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
